################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/View/.vs
/README.txt
/DTO/bin/Debug
/DTO/obj
/Service/bin/Debug
/Service/obj
/ToyRobotSimulatorTests/bin/Debug
/ToyRobotSimulatorTests/obj
/View/bin/Debug
/View/obj
